<div class="p-home">
  <alert [alertState]="alertState()" />

  <section-search-creation
    class="p-home__search-creation"
    [filter]="filter"
    (filterChange)="onFilterChanged($event)"
    (createHeroClicked)="openDialog(createDialogConfig)"

  />
  <section-list-heroes class="p-home__list-heros"
    [heroes]="heroes()"
    [isLoading]="isLoading()"
    [paginationConfig]="paginationConfig"
    (pageChange)="onPageChange($event)"
    (deleteHero)="openDialog(deleteDialogConfig)"
    (updateHero)="openDialog(updateDialogConfig)"
  />
</div>
