<div class="p-home">

  <section class="s-search-bar">
    <app-search-bar/>
  </section>

  <section class="s-create-hero">
    <app-create-hero/>
  </section>

  <section class="s-list-heros">
    <h2 class="s-list-heros__header">Héroes más allá de la imaginación</h2>
    <p class="s-list-heros__description">Desde tiempos inmemoriables, la humanidad ha soñado con figuras extraordinarias,
      capaces de desafiar los límites de la realidad.
    </p>
    <app-list-heros class="s-list-heros__list"/>
  </section>

  <app-footer/>
  
</div>
