<div class="hero-card">

  <img class="hero-card__photo" [src]="hero()?.imageURL" alt="Photo of {{ hero()?.name }}" />

  <div class="hero-card__content">
    <h2 class="hero-card__name"> {{hero()?.name}} </h2>
    <p class="hero-card__superpower"> {{hero()?.superpower}} </p>
    <p class="hero-card__description"> {{hero()?.description}} </p>
    <p class="hero-card__city"> {{hero()?.city}} </p>

    <div class="hero-card__buttons">
      <button class="hero-card__b-editar" (click)="updateHero()">
        <img src="assets/pencil.svg" alt="Editar"/>
        Editar
      </button>
      <button class="hero-card__b-eliminar" (click)="deleteHero()">Eliminar</button>
    </div>
  </div>

</div>
