// Primero de todo cargamos el archivo de reset.scss
@use './reset.scss';

// Forward para que otros archivos puedan acceder a las variables y mixins
@forward './mixins.scss';
@forward './global-variables.scss';

// Use para importarlo solo en los estilos globales
@use './ngx-pagination-overrides.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

// Personalización del scrollbar

// Chrome, Safari, Edge
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--color-track-scrollbar);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-principal);
  border-radius: 0.25rem;
  border: 2px solid var(--color-hover-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover-scrollbar) !important;
}

// Firefox
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-principal) var(--color-track-scrollbar);
}
