<section class="s-list-heros">

  <div class="s-list-heros__info">
    <h2 class="s-list-heros__header">Héroes más allá de la imaginación</h2>

    <p class="s-list-heros__description">Desde tiempos inmemoriables, la humanidad ha soñado con figuras extraordinarias,
      capaces de desafiar los límites de la realidad.
    </p>
  </div>

  <div class="s-list-heros__hero-list">
    @if (isLoading) {
      <p class="s-list-heros__loading">Cargando héroes...</p>
    } @else {
      @for (h of visibleHeroes; track h) {
        <c-hero-card [hero]="h" />
      } @empty {
        <p class="s-list-heros__empty">No hay héroes disponibles en este momento.</p>
      }
    }

    @if (totalHeroes > 8) {
      <button class="s-list-heros__view-more" #interactionElement
              (click)="toggleHeroes(4)">{{ viewMore ? 'Ver más' : 'Ver menos' }}</button>

      @defer (on interaction(interactionElement)) {
        <!--
        No lo he conseguido.
        La idea era que al hacer click en el botón "Ver más" se cargaran más héroes de forma diferida.
        -->
      }
    }
  </div>
</section>
