@import '../../../../styles.scss';

.s-list-heros {

  width: 100%;
  max-width: 1344px;
  margin: 0 auto;

  &__info {
    @include flex-style(column, center, center);
  }

  &__header {
    color: $color-principal;
    text-align: center;
    width: 660px;
  }

  &__description {
    text-align: center;
    width: 660px;
  }

  &__hero-list {

    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, 318px);
    justify-content: center;
    align-items: center;
  }


  @media (max-width: 768px) {

    &__description {
      width: 312px;
    }

    &__header {
      width: 312px;
    }
  }

}
