@use '../../../../styles.scss' as styles;

.c-form-search {
  &__input {
    width: 100%;
    max-width: 55rem;
    min-width: 19.5rem;
    height: auto;
    max-height: 5.75rem;
    min-height: 4.5rem;

    box-shadow: 0rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 3.125rem;

    text-indent: 2.5rem;
    font-size: 1rem;

    &:focus {
      outline: 0.0825rem ridge var(--color-principal);
    }

    @media (max-width: 64rem) {
      text-indent: 1.875rem;
    }

    @media (max-width: 48rem) {
      text-indent: 1.25rem;
    }
  }
}
