.c-form-search {
  &__input {
    width: 55rem;
    height: 5.75rem;

    box-shadow: 0rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 3.125rem;

    text-indent: 2.5rem;
    font-size: 1rem;

    &:focus {
      outline: none;
      border: 0.0625rem solid rgba(247, 247, 247, 0.843);
    }

    @media (max-width: 64rem) {
      width: 37.5rem;
      height: 5.125rem;
      text-indent: 1.875rem;
    }

    @media (max-width: 48rem) {
      width: 19.5rem;
      height: 4.5rem;
      text-indent: 1.25rem;
    }
  }
}
