<div class="c-dialog">

  <mat-dialog-actions class="c-dialog__close">
    <button mat-button mat-dialog-close>
      <img src="assets/close.svg" alt="Close Button" aria-label="Close Dialog">
    </button>
  </mat-dialog-actions>

  @switch (dialogData.dialog) {

    @case (dialog.deleteHero) {
    <h2 mat-dialog-title class="c-dialog__header">Eliminar héroe</h2>

    <mat-dialog-content class="c-dialog__content">
      <img src="assets/alert.svg" alt="Alert Button">
      <div class="c-dialog__text">
        <h3>¿Estás seguro de que deseas eliminar a este héroe?</h3>
        <p>Una vez eliminado no podrás revertir esta acción.</p>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="c-dialog__buttons">
      <button class="c-dialog__buttons--cancel" mat-dialog-close>Cancelar</button>
      <button class="c-dialog__buttons--delete" (click)="onDeleteHero()" mat-dialog-close>Si, eliminar</button>
    </mat-dialog-actions>
    }

    @case (dialog.createHero) {
    <h2 mat-dialog-title class="c-dialog__header">Crear nuevo héroe</h2>

    <mat-dialog-content>
      <c-form-hero [formDisplay]="form.createHero"
      (createHero)="onCreateHero($event)"/>
    </mat-dialog-content>
    }

    @case (dialog.updateHero) {
    <h2 mat-dialog-title class="c-dialog__header">Editar héroe</h2>

    <mat-dialog-content>
      <c-form-hero [formDisplay]="form.updateHero" [heroData]="dialogData.hero"
      (updateHero)="onUpdateHero($event)"/>
    </mat-dialog-content>
    }
  }
</div>
