<footer class="c-footer">

  <hr class="c-footer__divider">

  <div class="c-footer__details">

    <p class="c-footer__copy-right">&copy; {{ currentYear }} {{ webName }}, Inc </p>

    <div class="c-footer__social-media">

      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/social-media/Instagram.svg" alt="Instagram Icon">
      </a>

      <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/social-media/Youtube.svg" alt="Youtube Icon">
      </a>

      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/social-media/Linkedin.svg" alt="LinkedIn Icon">
      </a>

      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/social-media/Facebook.svg" alt="Facebook Icon">
      </a>

      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/social-media/Twitter.svg" alt="Twitter Icon">
      </a>
    </div>
  </div>

</footer>
