.p-main {

  &__header {
    width: 100%;
    height: 480px;
    position: relative;
  }

  &__img-header {
    width: 100%;
    height: 480px;
    left: -1px;
    object-fit: fit;
    display: block;
    z-index: 1;
  }

  &__logo {
    position: absolute;
    width: 246px;
    height: 111px;
    top: 72px;
    left: 88px;
    z-index: 2;
  }

  &__info {
    position: absolute;
    top: 364px;
    left: 1280px;
    z-index: 2;
    color: #000000;
    font-size: 64px;
    font-weight: bold;
    font-family: 'Comic Sans MS', sans-serif;
  }

  &__footer {
    width: 100%;
  }

  @media (max-width: 768px) {

    &__header {
      height: 480px;
    }

    &__img-header {
      height: 480px;
      object-fit: cover;
    }

    &__logo {
      left: 50%;
      transform: translateX(-50%);
      width: 204px;
      height: 92.05px;
    }
  }
}
