// Para títulos y botones principales
$color-principal: #8A42FB;
$color-eliminar: #F3F3F3;
$color-deshabilitado: #E7D8FE;
$color-form: rgba(214, 230, 248, 0.573);
$color-success: #29F4B0;
$color-error: #FB6A6A;
