// Para los breakpoints
$phone-max: 36rem;

:root {
  // Para títulos y botones principales
  --color-principal: #8A42FB;
  --color-hover-scrollbar: #45ff16;
  --color-track-scrollbar: #edb6ff;
  --color-eliminar: #F3F3F3;
  --color-deshabilitado: #E7D8FE;
  --color-form: #D6E6F892;
  --color-success: #29F4B0;
  --color-error: #FB6A6A;


}
