<form class="c-form" [formGroup]="form" (submit)="onSubmit()">

  <div class="c-form__first-row">
    @for (field of formFields; track field.controlName) {
    @if (field.controlName === 'name' || field.controlName === 'superpower') {
    <div class="c-form__first-row--display">
      <label class="c-form__label" [for]="field.controlName">{{ field.label }}</label>
      <input class="c-form__input--default" [id]="field.controlName" [type]="field.type"
        [formControlName]="field.controlName" [placeholder]="field.placeholder" />
    </div>
    }
    }
  </div>

  <div class="c-form__other-rows">
    @for (field of formFields; track field.controlName) {

    @if (field.controlName !== 'name' && field.controlName !== 'superpower') {

    @if (field.controlName === 'description') {
    <div class="c-form__item">
      <label class="c-form__label" [for]="field.controlName">{{ field.label }}</label>
      <textarea class="c-form__textarea" [id]="field.controlName" [formControlName]="field.controlName"
        [placeholder]="field.placeholder"></textarea>
    </div>

    } @else if (field.type === 'text') {
    <div class="c-form__item">
      <label class="c-form__label" [for]="field.controlName">{{ field.label }}</label>
      <input class="c-form__input" [id]="field.controlName" [type]="field.type" [formControlName]="field.controlName"
        [placeholder]="field.placeholder" [class.c-form__input--search-hero]="formToShow() === formTypesEnum.searchHero"
        [class.c-form__input--default]="formToShow() !== formTypesEnum.searchHero" />
    </div>

    } @else if (field.type === 'file') {
    <div class="c-form__item">
      <label class="c-form__label" for="photo">{{ field.label }}</label>
      <input class="c-form__input c-form__input--file" id="photo" type="file" (change)="onFileSelected($event)"
        accept="image/*" />
    </div>

    } @else {
    <div class="c-form__item--checkbox">
      <div class="c-form__checkbox">
        <!-- Así no funciona no entiendo porqué, y lo comprobé un montón de veces
              <input class="c-form__checkbox-input" [id]="field.controlName" [type]="field.type" [formControlName]="field.controlName"/> -->
        <input class="c-form__checkbox-input" [id]="field.controlName" type="checkbox" formControlName="terms" />
        <label class="c-form__checkbox-label" [for]="field.controlName">
          {{ field.label }}
          <a href="/terms" target="_blank">Términos y condiciones</a>
        </label>
      </div>

      @if (formToShow() !== formTypesEnum.searchHero) {
      <button class="c-form__button" type="submit" mat-dialog-close [disabled]="form.invalid || form.pristine">
        {{ getButtonText() }}
      </button>
      }
    </div>
    }
    }
    }
  </div>

</form>
