@import '../../../../styles.scss';

.c-form {

  @include flex-style(column, center, flex-start);

  &__first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    &--display {
      @include flex-style(column, center, left);

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  &__other-rows {
    @include flex-style(column, center, flex-start);
    margin-top: 20px;
    gap: 20px;
    width: 100%;
  }

  &__item {

    @include flex-style(column, center, left);
    width: 100%;

    &--checkbox {
      margin-bottom: 20px !important;

      @include flex-style(row, space-between, center);
      gap: 20px;
      width: 100%;
    }
  }

  &__button {
    @include button_style(10px, 1px, $color-principal, white, 20px);

    &:disabled {
      @include button_style(10px, 1px, $color-deshabilitado, white, 20px);
    }
  }

  &__checkbox-label {
    a {
      color: inherit;
    }
  }

  &__label {
    font-size: 16px;
  }

  &__input {

    &--search-hero {
      width: 880px;
      height: 92px;

      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
      border: none;
      border-radius: 50px;

      text-indent: 40px;
      font-size: 16px;

      &:focus {
        outline: none;
        border: 1px solid rgba(247, 247, 247, 0.843);
      }

      @media (max-width: 1024px) {
        width: 600px;
        height: 82px;
        text-indent: 30px;
      }

      @media (max-width: 768px) {
        width: 312px;
        height: 72px;
        text-indent: 20px;
      }
    }

    &--file {
      width: 100%;
      height: 36px;
      padding-top: 10px;
      font-size: 16px;
    }

    &--default {
      background-color: $color-form;
      border: none;
      border-radius: 5px;

      height: 36px;
      padding: 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  &__textarea {
    background-color: $color-form;
    border: none;
    border-radius: 5px;

    height: 60px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    resize: none;

    &:focus {
      outline: none;
    }

  }

  &__checkbox {

  }

  &__checkbox-input {

  }

  #file-upload-button {
        @include button_style(10px, 1px, $color-principal, white, 20px);
        margin-left: 10px;
      }
}
